.navbar-custom {
    background-color: #161718;
}

.navbar-custom .navbar-text {
<<<<<<< HEAD
    color: rgba(255, 255, 255, 0.8);
}
.px-2{
    right:auto; 
}
#overskrift{
    right: 100px;
=======
    color: rgba(255,255,255,.8);
}

/* visited link */
a:visited {
    color: green;
}
  
/* mouse over link */
a:hover {
    color: red;
>>>>>>> 912a62ad3eff27ffe124bf457172b658d73349ad
}